.search-bar {
  display: flex;
  height: 50px;
}

.nav-search {
  border: 5px solid gray;
  padding-left: 35px;
  width: 350px;
}
.nav-search:focus {
  border: 5px solid #ff6000;
  outline: none;
}
.nav-search:focus .search-button:focus {
  border: 5px solid #ff6000;
}
.search-icon {
  position: absolute;
  top: 29px;
  left: 42.4%;
  width: 30px;
  height: 35px;
  opacity: 40%;
}
.search-button {
  background-color: gray;
  width: 56px;
  border: none;
}
.search-focused-button {
  background-color: #ff6000;
}
