.app-logo {
  flex-direction: column;
  display: flex;
  margin-right: 50px;
  width: 9%;
}
.logo {
  width: 100%;
}
.logo-title {
  font-size: 13px;
  padding-left: 60px;
  margin: 0 0 0 0;
  font-weight: 600;
}
.logo-pre {
  font-weight: 700;
  text-decoration: none;
  color: #ff6000;
}
.logo-pre:hover {
  text-decoration: underline;
  color: #ff5100;
}
