.app-logo {
  flex-direction: column;
  display: flex;
  width: 60%;
}
.logo {
  width: 100%;
}
.logo-title {
  width: 90%;
  padding-left: 40px;
  margin: 0 0 0;
  font-weight: 600;
}
.logo-pre {
  font-weight: 700;
  text-decoration: none;
  color: #ff6000;
}
.logo-pre:hover {
  text-decoration: underline;
  color: #ff5100;
}
